
<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header"><%= @flat.address %></div>
  <div class="card-body">
    <h5 class="card-title"><%= @flat.name %></h5>
    <p class="card-text"><%= @flat.description %>.</p>
  </div>
  <div class="card-footer">
      <p class="card-link"><%= link_to "Show all flats", flats_path %></p>
  </div>
</div>